<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<LINK REL="STYLESHEET" HREF="/public/css/style.css">
</head>
<body>
<form action="/bricogeek/">
    <input type="submit" value="Ir a Bricogeek">
</form>
<form action="/diotronic/">
    <input type="submit" value="Ir a Diotronic">
</form>

</body>
<footer>
</footer>
</html>